@charset "utf-8";

$content-width: 1160px;

@mixin border-radius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  -o-border-radius: $value;
  border-radius: $value;
}

.content {
  position: relative;
  width: $content-width;
  margin: 0 auto;
}

html {
  background: #{image_url("bg.jpg")};
}

body {
  margin: 0;
  padding: 0;
  min-width: 1180px;
  background: #{image_url("bg-body.png")} center top;
}

header {
  padding: 10px 0 0;
  text-align: center;
}

a {
  img {
    border: none;
  }
}

#main {
  margin-bottom: 50px;
}

footer {
  position: relative;
  padding: 35px 0;
  background: #{image_url("bg-footer.jpg")};

  #page-top {
    position: absolute;
    top: -79px;
    right: 35px;
    cursor: pointer;
  }

  #social-widgets {
    * {
      float: left;
    }
  }

  .fb-like {
    margin-left: 8px;
  }

  #credit {
    letter-spacing: 0.1em;
    font-family: 'IM Fell DW Pica', serif;
    color: #fff;

    a {
      text-decoration: none;
      color: #f4c364;
    }
  }
}

.moment {
  position: relative;
  overflow: hidden;
  margin-bottom: 35px;
  padding: 150px 0 25px;
  background: #{image_url("bg-moment.png")} center bottom no-repeat;

  .box {
    width: 560px;
    margin-bottom: 50px;

    .photo {
      position: relative;
      height: 592px;
      margin-bottom: 10px;
      padding: 17px 28px;

      a {
        text-decoration:none;
        font-family: 'IM Fell DW Pica', serif;
        font-size: 16px;
        letter-spacing: 0.1em;
        -webkit-transition-property: all;
        -webkit-transition: 0.3s linear;
        -moz-transition-property: all;
        -moz-transition: 0.3s linear;
        -o-transition-property: all;
        -o-transition: 0.3s linear;
        transition-property: all;
        transition: 0.3s linear;
      }

      a:hover {
        opacity: 0.75;
      }

      p {
        margin-bottom: 15px;
        line-height: 0;
      }

      p.credit {
        img {
          vertical-align: middle;
          @include border-radius(10px);
        }
      }
    }

    .photo:before, .photo:after {
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 15px;
      left: 10px;
      width: 50%;
      top: 80%;
      max-width:300px;
      background: #777;
      -webkit-box-shadow: 0 10px 10px #777;
      -moz-box-shadow: 0 10px 10px #777;
      box-shadow: 0 10px 10px #777;
      -webkit-transform: rotate(-3deg);
      -moz-transform: rotate(-3deg);
      -o-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      transform: rotate(-3deg);
      }
    .photo:after {
      -webkit-transform: rotate(3deg);
      -moz-transform: rotate(3deg);
      -o-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
      transform: rotate(3deg);
      right: 10px;
      left: auto;
    }
  }

  .box.left {
    a {
      color: #4859a3;
    }
  }

  .box.right {
    a {
      color: #d95959;
    }
  }

  @each $position in left, right {
    .box.#{$position} {
      float: #{$position};
      text-align: #{$position};

      .photo {
        background: #{image_url("bg-photo-#{$position}.jpg")} center top no-repeat;

        .credit {
          span {
            padding-#{$position}: 5px;
          }
        }
      }
    }
  }


  .taken-at {
    position: absolute;
    top: 0;
    left: 469px;
    width: 240px;
    height: 185px;
    margin: 0;
    padding-top: 45px;
    font-family: Georgia, serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    line-height: 1.0;
    text-align: center;
    background: #{image_url("bg-time.png")} no-repeat center top;

    .year {
      font-size: 38px;
      color: #efe7d9;
      letter-spacing: 0.02em;
      text-shadow: -1px -1px 0px #6b5942, 1px 1px 0px #fff;
    }

    .date {
      font-size: 58px;
      color: #938780;
      text-shadow: -1px -1px 0px #6b5942, 1px 1px 0px #fff;
    }

    .time {
      font-size: 33px;
      color: #b29586;
      margin-left: -20px;
      letter-spacing: 0.05em;
      text-shadow: -1px -1px 0px #6b5942, 1px 1px 0px #fff;
    }
  }
}
